@using SachOnlineTVD.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<SACH>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
    <h2 class="text-center">SÁCH MỚI</h2>
    <hr>

    @ViewBag.SBN
    <div class="row text-center">
        @{
            int i = 0;

        }
        @foreach (var sach in Model)
        {
            i++;
            if (i % 3 == 0)
            {
                @:<div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 hidden-xs">
                }
                else
                {
                    @:<div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                    }

                    <div class="thumbnail">
                        <img src="~/Images/@sach.AnhBia" alt="Thumbnail Image 1" class="img- responsive img-rounded imgbook ">
                        <div class="caption">
                            <h4 style="min-height:70px;">
                                <a href="@Url.Action("BookDetail","SachOnline", new { id =sach.MaSach})">@sach.TenSach</a>
                            </h4>
                            <p>
                                <a href="@Url.Action("ThemGioHang","GioHang", new { ms = sach.MaSach, url = Request.Url.ToString()})" class="btn btn-primary" role="button">
                                    <span class="glyphicon glyphicon- shopping-cart" aria-hidden="true"></span> Add to Cart
                                </a>
                            </p>
                        </div>
                    </div>
                @:</div>
            }
    </div>
    <nav class="text-center">
        Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
        <div class="MenuTrang">
            @Html.PagedListPager(Model, page => Url.Action("Index", "SachOnline", new { page = page }))
        </div>
    </nav>
</div>


</div>




<form>
    <div class="form-group">
        <label for="sachbannhieu_ajax">Chọn số sách bán nhiều cần hiển thị</label>
        <select onchange="_GetSachBanNhieu()" class="form-control" id="sachbannhieu_ajax">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
            <option value="0">Không hiển thị</option>
        </select>
    </div>
</form>

<script>
    _GetSachBanNhieu(5);
    function _GetSachBanNhieu() {
        var sachbannhiu = document.getElementById("sachbannhieu_ajax").value;
        if (sachbannhiu == 0) {
            $('#partial-load').empty();
        } else {
            $(document).ready(function () {
                $('#partial-load').load('/SachOnline/SachBanNhieuPartial?page_sachbn=' + sachbannhiu);
            });
        }

    }

</script>

@section SachBanNhieu {
    <div id="partial-load"></div>
}
