@model SachOnlineTVD.Models.NHAXUATBAN

@{
    ViewBag.Title = "Sửa nhà xuất bản";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;">SỬA NHÀ XUẤT BẢN</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaNXB)

    <div class="form-group">
        <div class="col-md-10">
            <input type="hidden" size="70" name="iMaNXB" value="@Model.MaNXB" readonly />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Tên NXB:</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" type="text" name="sTenNXB" required value="@Model.TenNXB" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Địa chỉ:</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" type="text" name="sDiaChi" required value="@Model.DiaChi" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Số điện thoại:</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" type="number" name="nSDT" required value="@Model.DienThoai" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu Thông Tin" class="btn btn-default" />
        </div>
    </div>
</div>
}


<div>
    @Html.ActionLink("TRỞ VỀ TRANG QUẢN LÝ NHÀ XUẤT BẢN", "Index")
</div>

