@model SachOnlineTVD.Models.KHACHHANG

@{
    ViewBag.Title = "Sửa khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;">SỬA NHÀ KHÁCH HÀNG</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaKH)

    <div class="form-group">
        <div class="col-md-10">
            <input type="hidden" size="70" name="iMaKH" value="@Model.MaKH" readonly />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Họ tên:</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" type="text" name="sHoTen" required value="@Model.HoTen" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Tài khoản:</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" type="text" name="sTaiKhoan" required value="@Model.TaiKhoan" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Mật khẩu:</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" type="text" name="sMatKhau" required value="@Model.MatKhau" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Email:</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" type="email" name="sEmail" required value="@Model.Email" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Địa chỉ:</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" type="text" name="sDiaChi" required value="@Model.DiaChi" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Số điện thoại:</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" type="text" name="nDienThoai" required value="@Model.DienThoai" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Ngày sinh:</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" type="datetime" name="dNgaySinh" required value="@Convert.ToDateTime(Model.NgaySinh)" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu Thông Tin" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("TRỞ VỀ TRANG QUẢN LÝ KHÁCH HÀNG", "Index")
</div>

